.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 190px;
  width: 190px;
  padding-top: 10px;
}

.eleman{
  margin: 10px;
}
.card {
  background: linear-gradient(to bottom, #ffffffe8, #fffffffa);
  border-radius: 50px;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

[data-theme='dark'] .card {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  border: 2px solid #222;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color:  #286695;
  border-color:  #286695;
}

.card .icon-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.icon-wrapper .icon {
  height: 120px;
}

.card .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: #061024;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

[data-theme='dark'] .card .title {
  color: #e6e6e9;
}

.card .descriptions {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #3b465c;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

[data-theme='dark'] .card .descriptions {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #e6e6e9;
}

card:hover .title,
card:hover .descriptions {
  color: #061024;
}

[data-theme='dark'] .card:hover .title,
[data-theme='dark'] .card:hover .descriptions {
  color: #ffffff;
}

.card:hover .icon-wrapper {
  transform: scale(1.3);
}
.slider{
  margin-top: 60px !important;
}

.row{
  margin-bottom: 20px;
}